.row {
  color: black;
  display: flex;
  margin: 30px;
  margin-top: 0;
  position: relative;
  bottom: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  justify-content: center;
}

.row::-webkit-scrollbar {
  display: none;
}

@media (max-width: 680px) {
  .row {
    justify-content: start;
  }
}

.row .m-card {
  cursor: pointer;
  margin: 0 10px;
  overflow: hidden;
}

.row .m-card img {
  width: 150px;
  height: 100%;
  transition: 1s;
}

@media (max-width: 950px) {
  .row .m-card img {
    width: 100px;
    height: 100%;
  }
}

.row .active_sub_bg {
  background-color: yellow;
}

.row .active_sub_bg img {
  transform: scale(0.95);
}
